h1,h2,p,h3, button{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    padding: 0 0;
    margin: 0 0;
    overflow-wrap: break-word;
    hyphens: auto;
}

#gameTitle{
    background-color: #f8fad7;
    border: 5px solid #000000;
    margin: 0 0;
}

body{
    background-color: #84c785;
}

p{
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden; /* remove horizontal scrool wheel */
    scrollbar-width:thin;
}


#board{
    /* overal board position */
    margin: 0 auto;
    height: 48vw;
    width: 48vw;

    /* board image */
    background-image: url("assets/board.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* centers table */
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}

td {
    width: 4vw;
    height: 4vw;

    padding: 0px;
    margin-top: 5vw;

    /* board image */
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.playerZone{
    display: inline;
    background-color: #bababa;
    width: 20vw;
    border: 5px solid #000000;
    min-height: 100vh;
}
#p0{
    float: left;
}
#p1{
    float: right;
}
.portrait{
    margin: 1vw 1vw 0 1vw;
    width: 18vw;
    border: 2px solid #000000;
    border-radius: 5vw;
}
.name{
    background-color: #ffebcd;
    font-size: 140%;
}

.playerZone p {
    padding: 1vw;
    font-weight: bold;
}

button{
    display: block;
    margin: 1vh auto;
    font-size: 1.8vw;
    background-color: #a3d4d4;
    border-radius: 2vw;
    border: 2px solid #000000;
    box-shadow: 0px 5px 5px 0px #747a74;
}
button:hover {
    background-color: #7198b0;
    font-size: 2vw;
  }


#cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #32323299;
    display: none;
}
#winner{
    padding: 40vh 0;
    color : #ffffff;
    line-height: 1;
    font-size: 5vh;
}
#cover>h3{
    color: #ffffff;
    font-size: 2vh;
    line-height: 1;
}

/* borders */
/* *{
    border: 1px solid rgb(255, 0, 0);
} */